.section {
  position: relative;

  background-color: var(--clr-dark-400);
}

.hero_wrapper {
  position: relative;
  flex-direction: column;
  display: flex;

  padding-top: calc(var(--header-height) + 1rem);
  padding-bottom: 3rem;

  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .hero_wrapper {
    min-height: 97vh;
    height: 100%;
  }
}

.outer_wrapper {
  position: absolute;
  inset: 0;
  height: 42.625rem;

  z-index: 2;
}

.logo {
  margin: 0 auto;
  margin-bottom: calc(100% - 6rem);

  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 641px) {
  .logo {
    width: 32.75rem;
  }
}

.hero_wrapper .preoder_btn {
  margin: 0 auto;
  min-width: fit-content;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-inline: 2rem;
  font-size: var(--f-fs-550);

  margin-bottom: 1.5rem;
}

.content_layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .content_layout {
    width: 45%;
    padding-left: 2rem;
  }
}

.hero_wrapper .add_to_wish {
  width: fit-content;
  margin: 0 auto;
  font-weight: var(--f-fw-500);
}

.hero_footer {
  position: relative;
  top: -1.5rem;
  z-index: 2;
}

.available_date {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: var(--f-fw-400);
  font-size: var(--f-fs-300);
  text-transform: uppercase;
  background-color: var(--clr-hero-footer);
}

.text {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: var(--f-fw-500);
  font-size: var(--f-fs-300);
  tab-size: 4;
}

.distributors_wrapper {
  padding-top: 1rem;

  background-color: var(--clr-dark-400);
}

.distributors {
  background-color: var(--clr-dark-400);
}
