.edition_page {
  padding-bottom: 3rem;
}

@media screen and (max-width: 639px) {
  .edition_page {
    background-image: url('../../../../assets/images/png/xs-bg.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .container {
    padding: 0 !important;
  }
}

@media screen and (min-width: 640px) {
  .edition_page {
    padding-top: calc(var(--header-height) * 2);
    background-image: url('../../../../assets/images/webp/preorder-editions-md-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .edition_page {
    padding-top: calc(var(--header-height) + 2rem);
    padding-bottom: 5rem;
    background-image: url('../../../../assets/images/webp/preorder-editions-lg-bg.webp');
  }
}
