.accordion {
  width: 100%;
  max-height: 10.5rem;
  overflow: hidden;

  transition: all var(--tr-speed-350) var(--tr-func-400);
}

.expand_button {
  position: relative;
  display: block;
  width: 1.75rem;
  height: 1.75rem;

  margin: 0 auto;

  border: none;
  background-color: transparent;
}

.expand_button::after {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.375rem;
  content: '';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.5' fill-rule='evenodd' clip-rule='evenodd' d='M.735.77L.621.195.646.17C.807.096.989.057 1.173.058h.482v.019h1.93l.277.077.46.077c.099-.042.191-.093.275-.154h.019c.035.074.06.152.073.23l.276-.076h.368l.276.077.184-.154h.184L6.13.077h.912c.172.029.333.091.47.182a.968.968 0 01.32.342.793.793 0 01-.05.841l-.719 1.043-.259.054.092.153-.006.044-.386.56-.056.078a.515.515 0 01-.104.01c-.038-.008-.275.231-.275.231l-.16.529-.12.172a2.75 2.75 0 01-.272.146l-.184.384v.122l-.184.263.015.005-.209.303c-.097.14-.236.256-.404.337A1.273 1.273 0 014 6c-.194 0-.384-.043-.552-.124a1.032 1.032 0 01-.404-.338l-.47-.68v-.166a3.564 3.564 0 00-.271-.228l-.091-.131-.005-.025a1.116 1.116 0 010-.308 2.564 2.564 0 00-.293-.112l-.535-.811-.022.017-1.14-1.652A.8.8 0 01.069.946.82.82 0 01.263.462l.472.307zm6.337 1.712l-.184.263.002-.01.173-.25.01-.003zM2.574 4.89l-.285-.432.01.005.004.002.271.394v.031zm-.467-.709l.105.153c0 .004.002.007.003.011l-.108-.164z' fill='%23F2E8D9'/%3E%3C/svg%3E");
}

.expand_button.expanded::after {
  transform: rotateX(-180deg) translate(-50%, 50%);
}
