.container {
  max-width: 91vw;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 1.25rem;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-family: var(--f-ff-500);
  font-weight: var(--f-fw-500);
  font-size: var(--f-fs-625);
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1240px) {
  .title {
    font-size: var(--f-fs-900);
  }
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
