@import '../../../../styles/variables/animations.css';

.button {
  position: relative;
  display: block;
  padding: 1.5rem;

  font-family: var(--f-ff-500);
  font-weight: var(--f-fw-500);
  font-size: var(--f-fs-625);
  line-height: var(--f-lh-100);

  text-align: center;
  text-transform: uppercase;

  color: var(--clr-dark-500);
  cursor: pointer;

  /* transition: all 6ms ease-in; */
}

.animation_holder {
  position: absolute;
  inset: 0;
  background-image: url('../../../../assets/images/jpg/button-bg.jpeg');
  box-shadow: var(--shdw-600);
  background-color: var(--clr-primary-400);
  background-blend-mode: multiply;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: auto 100%;

  animation: heartbeat-3-beats-colored 4s var(--heartbeat-anim-config);
  z-index: -1;
}

.content {
  font: inherit;
}

@media screen and (min-width: 1024px) {
  .button {
    padding: 1.25rem 3rem;
  }
}

.button:visited {
  color: var(--clr-dark-500);
}

.animation_holder::after {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  top: 0.25rem;
  left: 0.25rem;
  border: 2px solid var(--clr-dark-500);
}
