:root {
  --mr-top: 0.75rem;
}

.date_available {
  position: relative;
  margin-top: var(--mr-top);
  margin-right: 7rem;
}

.date_available :where(.date_available_text, .date_available_year) {
  display: block;
}

.date_available_text {
  text-transform: uppercase;
  line-height: 1.7;
  font-weight: var(--f-fw-400);
  font-size: var(--f-fs-300);

  color: var(--clr-light-400);
}

.date_available_year {
  line-height: 1.2;
  color: var(--clr-primary-400);
}

.line {
  position: absolute;
  top: 50%;
  left: -90px;

  height: 1px;
  color: var(--clr-light-400);
  fill: var(--clr-light-400);

  transform: translateY(-50%);
}
