:root {
  --top-gap: 4rem;
}

/* ============ DIGITAL VARIANT OF EDITION AND COMMON STYLES ============= */
.card {
  position: relative;
}

[data-variant='digital'].card {
  padding-top: 2rem;
}

/*  images and posters styles */
.bg {
  max-height: 38rem;
  width: 100%;
}

.posters_wrapper {
  position: relative;
}

.poster {
  position: absolute;
  top: 60%;
  left: 50%;

  width: 235px;

  transform: translate(-50%, -60%);
}

/*  images and posters styles */

.container {
  position: relative;
  top: -4rem;
}

/* price and proerder button styles */

.price_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .price_wrapper :is(.preorder_btn) {
  width: 38%;
  font-weight: var(--f-fw-500);
}

.price {
  display: flex;
  align-items: center;
  font-family: var(--f-ff-500);
  font-weight: var(--f-fw-500);
  font-size: var(--f-fs-625);
  line-height: 1.5;
}
.append_zero {
  font-size: var(--f-fs-550);
}

/* price and proerder button styles */

/* game features block styles */

.card_text_content {
  padding-top: 3rem;
}

.card_title {
  margin-bottom: 0.5rem;
  font-family: var(--f-ff-500);
  font-weight: var(--f-fw-400);
  font-size: var(--f-fs-550);
  text-transform: uppercase;
  color: var(--clr-light-400);

  z-index: 2;
}

.separator {
  height: 2px;
  margin-bottom: 1rem;
  fill: var(--clr-primary-400);

  transform: translateX(calc(var(--padding-mobile) * -1));
  transition: fill var(--tr-speed-200) var(--tr-func-400);
}

.features span {
  font-size: var(--f-fs-400);
}

.features:where(:not(:last-child)) {
  margin-bottom: -0.125rem;
}

.description_wrapper {
  padding-top: 1.5rem;
}

.description_title {
  margin-bottom: 0.625rem;
  font-family: var(--f-ff-500);
  font-size: var(--f-fs-450);
  text-transform: uppercase;
}

.paragraph {
  font-weight: var(--f-fw-400);
  font-size: var(--f-fs-400);
  line-height: 1.4;
}

.paragraph:not(:last-child) {
  margin-bottom: 1.25rem;
}

/* game features block styles */

/* distributors styles */

.distributors {
  margin-top: 2.5rem;
  padding-inline: 0;
}

.distributors_container {
  position: relative;
  top: -1.25rem;
}

.static {
  position: static;
  margin: 0 auto;
  transform: translate(0%, 0%);
}

/* utility */

.flex_row {
  display: flex;
  align-items: center;
}

.gap1 {
  gap: 1rem;
}

.with_bg {
  background-color: var(--clr-dark-900);
}

/* ============ DIGITAL VARIANT OF EDITION AND COMMON STYLES ============= */

/* ============ PHYSICAL VARIANT OF EDITION AND COMMON STYLES ============= */
[data-variant='physical'] .bg {
  max-height: 56rem;
  width: 100%;
}

[data-variant='physical'] .poster {
  top: 35%;
  min-width: 350px;
  max-width: 300%;
  width: 100%;

  transform: translate(-51%, -30%);
}

[data-variant='physical'] .container {
  top: -6rem;
  width: 18.25rem;
  padding: 0;
}

[data-variant='physical'] .price_wrapper {
  width: 100%;
  justify-content: center;
}

[data-variant='physical'] .price_wrapper :is(.preorder_btn) {
  width: 184px;
}

[data-variant='physical'] .features span {
  margin-left: 0.5rem;
  font-weight: var(--f-fw-300);
}

[data-variant='physical'] .distributors_container .price_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[data-variant='physical'] .all_retailers_btn {
  width: 164px;
  position: relative;
  left: -3px;
}

[data-variant='physical'] .features:where(:not(:last-child)) {
  margin-bottom: 0.125rem;
}

[data-variant='physical'] .whats_inside_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  font-family: var(--f-ff-500);
  font-size: var(--f-fs-400);
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  color: var(--clr-primary-300);

  cursor: pointer;
}

[data-variant='physical'] .zoom_icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: all var(--tr-speed-100) var(--tr-func-500);
}

[data-variant='physical'] .whats_inside_btn:hover .zoom_icon {
  filter: invert(49%) sepia(98%) saturate(624%) hue-rotate(349deg) brightness(97%) contrast(93%);
  transform: scale(1.2);
}

.modal_close_btn {
  top: 0;
  right: 0.25rem;
}

.modal_close_btn svg {
  width: 1rem;
  height: 1rem;
}

/* ============ MEDIAQUERIES FOR BOTH OF VARIANTS ============= */

@media screen and (min-width: 640px) {
  .container {
    position: static;
    padding-top: 2rem;
  }

  [data-variant='digital'] .posters_wrapper,
  [data-variant='digital'] .price_wrapper,
  [data-variant='digital'] .card_text_content,
  [data-variant='digital'] .features_small {
    width: 20.75rem;
    margin-inline: auto;
  }

  [data-variant='digital'] .features_small {
    position: relative;
    left: 0;
    padding: 1rem;
    margin-top: 6rem;
  }

  [data-variant='digital'] .features_small .features:not(:last-child) {
    margin-bottom: 0.35rem;
  }

  .card .price_wrapper :is(.preorder_btn) {
    width: 184px;
  }

  .distributors_container {
    position: static;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
  }

  .distributors_container .price_wrapper {
    width: 100%;
  }

  .distributors_container .price_wrapper :is(.preorder_btn) {
    width: 38%;
  }

  [data-variant='physical'] .poster {
    width: 28.25rem;
    margin-inline: auto;
    transform: translate(0%, 0%);
  }

  [data-variant='physical'] .features_container {
    position: relative;
    bottom: -18px;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  [data-variant='physical'] .features {
    padding-left: 1rem;
  }

  [data-variant='physical'] .features span {
    font-weight: var(--f-fw-500);
    font-size: var(--f-fs-350);
  }

  [data-variant='physical'] .features > svg {
    width: 1rem;
    height: 1rem;
  }

  [data-variant='physical'] .features:where(:not(:last-child)) {
    margin-bottom: 0.125rem;
  }

  [data-variant='physical'] .divider_line {
    height: 2px;
    margin-bottom: 1.5rem;
    background-image: url('../../../../assets/icons/white-after-line.svg');
  }
  [data-variant='physical'] .features_container {
    height: 213px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: static;
  }

  [data-variant='physical'] .features_outer_container {
    position: relative;
    top: var(--top-gap);
  }

  [data-variant='physical'] .features:first-child,
  [data-variant='digital'] .features_small .features:first-child {
    position: absolute;
    top: calc((40px + 1rem) * -1);
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--clr-dark-900);
  }

  [data-variant='physical'] .features:first-child::after,
  [data-variant='digital'] .features_small .features:first-child::after {
    position: absolute;
    top: calc(42px + 0.65rem);
    height: 2px;
    width: 100%;
    left: 0;
    content: '';
    background-image: url('../../../../assets/icons/white-after-line.svg');
  }

  [data-variant='digital'] .features_small .features:first-child {
    padding-left: 1rem;
    left: 0;
  }

  [data-variant='physical'] .distributors_container .price_wrapper {
    flex-direction: row;
  }

  [data-variant='physical'] .price_wrapper :is(.preorder_btn) {
    width: 33%;
    font-weight: var(--f-fw-500);
  }

  [data-variant='physical'] .distributors_container {
    padding-top: calc(2.5rem + var(--top-gap));
  }
}

@media screen and (min-width: 768px) {
  .poster {
    width: 18rem;
  }

  [data-variant='digital'] .posters_wrapper,
  [data-variant='digital'] .card_text_content {
    width: 38.25rem;
    margin-inline: auto;
  }

  [data-variant='digital'] .price_wrapper {
    width: 100%;
  }

  .features_container {
    position: relative;
    bottom: -18px;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  [data-variant='digital'] .features {
    padding-inline: 1rem;
  }

  .features > svg {
    width: 1rem;
    height: 1rem;
  }

  .features_container > :first-child {
    padding-bottom: 1rem;
  }

  .features:where(:not(:last-child)) {
    margin-bottom: 0.125rem;
  }

  [data-variant='digital'] .features_container::after {
    position: absolute;
    top: 48px;
    height: 2px;
    width: 100%;
    content: '';
    background-image: url('../../../../assets/icons/white-after-line.svg');
  }

  .divider_line {
    height: 2px;
    margin-bottom: 1.5rem;
    background-image: url('../../../../assets/icons/white-after-line.svg');
  }

  [data-variant='physical'] .poster {
    width: 36.25rem;
  }

  [data-variant='physical'] .price_wrapper :is(.preorder_btn) {
    width: 184px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .poster {
    width: 18rem;
  }
}

@media screen and (min-width: 1024px) {
  [data-variant='digital'].card {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 2rem;
  }

  [data-variant='digital'].card .container {
    max-width: 44rem;
    margin: 0;
    padding-inline: 0;
  }

  [data-variant='digital'] .posters_wrapper {
    position: relative;
    top: -85px;
    width: 100%;
    min-width: 34.25rem;
  }

  [data-variant='digital'] .poster {
    width: 23vw;
  }

  [data-variant='digital'] .features_container {
    height: max-content;
    width: max-content;
    bottom: -2px;
  }

  [data-variant='digital'] .features span {
    margin-left: 0.5rem;
  }

  .static {
    margin: 0;
  }

  [data-variant='physical'] .poster {
    min-width: 24.375rem;
    margin: 0;
    align-self: flex-end;
  }

  [data-variant='physical'] .posters_wrapper {
    display: flex;
    align-items: center;
    gap: 5.25rem;
    min-height: 25rem;
  }

  [data-variant='physical'] .features_outer_container {
    width: 32.65rem;
    top: -1rem;
  }

  [data-variant='physical'] .features_container {
    position: relative;
  }

  [data-variant='physical'] .distributors_container {
    padding: 0px;
    position: relative;
    top: -2rem;
    padding-right: 4.5rem;
  }

  [data-variant='physical'] .distributors_container .preorder_btn {
    width: 184px;
  }

  [data-variant='physical'] .whats_inside_btn {
    margin-left: auto;
    margin-right: 12rem;
  }
}

@media screen and (min-width: 1280px) {
  [data-variant='digital'] .posters_wrapper {
    top: -30px;
  }

  [data-variant='physical'] .posters_wrapper {
    gap: 2rem;
  }

  [data-variant='physical'] .xl_wrapper {
    position: relative;
    top: -2rem;
    flex-grow: 100;
    display: flex;
    height: 314px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  [data-variant='physical'] .features_outer_container {
    min-width: 36.65rem;
  }

  [data-variant='physical'] .title {
    text-transform: uppercase;
    font-family: var(--f-ff-500);
    font-weight: var(--f-fw-400);
    font-size: var(--f-fs-425);
  }

  [data-variant='physical'] .distributors_container {
    top: -3rem;
    padding-right: 14rem;
  }

  [data-variant='physical'] .whats_inside_btn {
    position: relative;
    top: 2rem;
    margin-right: 4rem;
  }
}
