:root {
  --btn-height: 2.625rem;
  --btn-primary-before-width: calc(var(--btn-height) * 1.5);
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;

  height: var(--btn-height);
  width: 100%;

  background-color: transparent;
  font-family: var(--f-ff-500);
  font-weight: var(--f-fw-700);
  font-size: var(--f-fs-400);
  text-decoration: none;
  color: var(--clr-dark-400);
  padding: 0;
}

.button:disabled {
  cursor: initial;
}

.button:visited {
  color: var(--clr-dark-400);
}

.button.primary:hover .main_icon {
  filter: drop-shadow(var(--shdw-500));
  left: -19%;
}

.button.primary:hover .content_part:before {
  filter: drop-shadow(var(--shdw-400));
  left: -1px;
}

.button.inverse .content_part::before {
  display: none;
}

.button :where(.before, .after) {
  display: block;

  height: var(--btn-height);
}

.before {
  width: var(--btn-height);
  position: sticky;
  z-index: 3;
}

.button:not(.primary) .before {
  width: 1rem;
  position: relative;
  right: -1px;
}

.button.primary .before {
  width: var(--btn-primary-before-width);
  position: relative;
  right: -1px;
}

.after {
  width: 1rem;
  height: var(--btn-height);
  transform: translateX(-1px);
}

.button.primary .after {
  width: 2rem;
  position: relative;
  right: 4px;
}

.button.inverse .after,
.button.button.inverse .before {
  fill: var(--clr-dark-600);
  color: var(--clr-dark-600);
  width: 1.2rem;
  right: 0;
}

.content_part {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  text-transform: uppercase;
  background-color: var(--clr-primary-300);
}

.button.primary .content_part {
  width: 100%;
  padding-left: 0rem;
}

.content_part::before {
  --size: 0.685rem;
  --delta: 0rem;

  content: '';
  left: calc(var(--size) * -1);
  border-left: var(--size) solid var(--clr-primary-400);
  position: absolute;
  border-top: calc(var(--size) + var(--size) - var(--delta)) solid transparent;
  border-bottom: calc(var(--size) + var(--size) - var(--delta)) solid transparent;

  transition: left 200ms;
  z-index: 2;
}

.button.inverse .content_part {
  background-color: var(--clr-dark-600);
  color: var(--clr-primary-300);
}

.main_icon {
  width: calc(var(--btn-height) / 1.75);
  height: calc(var(--btn-height) / 1.75);

  aspect-ratio: 1 / 1;
}

.button.primary .main_icon {
  position: absolute;
  top: 50%;
  left: -23%;

  transform: translateY(-50%);
  transition: left 200ms;
  z-index: 3;
}

.button:not(.primary) .main_icon {
  margin-right: 0.5rem;
}

.button.inverse .main_icon {
  color: var(--clr-primary-300);
  fill: var(--clr-primary-300);
}

.disabled {
  pointer-events: none;
  cursor: initial;
}
