:root {
  --cloud-x-slide: 0px;
  --sun-x-slide: 0px;
  --hero-x-slide: 0px;
}

.cloud {
  background-image: url('../../../../assets/images/webp/clouds.webp');
  background-position: 50% 102%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 102%;
  top: 0;
  bottom: 0;

  transform: translate3d(var(--cloud-x-slide), 0px, 0px);
  z-index: -5;
}

.sun {
  background-image: url('../../../../assets/images/webp/radioactive-sun.webp');
  background-position: 50% 30%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 64.125rem;
  width: 64.125rem;
  max-width: 54%;
  max-height: 100%;
  position: absolute;
  right: 1.5%;
  top: 1%;

  transform: translate3d(var(--sun-x-slide), 0px, 0px);
  z-index: -4;
}

.hero {
  background-image: url('../../../../assets/images/webp/hero.webp');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 48.25rem;
  width: 41.313rem;
  position: absolute;
  right: 12.5%;
  bottom: -0.4%;
  max-height: 78%;
  max-width: 35%;

  transform: translate3d(var(--hero-x-slide), 0px, 0px);

  z-index: -2;
}

.cloud,
.sun,
.hero {
  display: inline-block;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
