.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 1.65rem;
  max-width: 100%;
  padding: 0 1rem;
}

.list li {
  display: flex;
  align-items: center;
  height: inherit;
  overflow-x: hidden;
  width: fit-content;
}

.icon {
  display: block;
  max-height: 100%;
  max-width: 100%;

  fill: var(--clr-light-400);
}
