[role='tooltip'] {
  position: absolute;
  top: 100%;
  width: max-content;
  height: auto;
  border: 2px solid var(--clr-primary-400);
  background-color: var(--clr-dark-400);
  list-style: initial;
  padding-left: 2rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  padding-right: 0.65rem;

  fill: var(--clr-primary-300);
  color: var(--clr-primary-300);

  transition: opacity var(--tr-speed-300) var(--tr-func-400),
    visibility var(--tr-speed-300) var(--tr-func-400);
}

.no_list_style {
  padding-left: 1rem;
}
