.tooltip_body {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  height: max-content;
  border: 2px solid var(--clr-primary-400);
  background-color: var(--clr-dark-400);
  list-style: initial;
  padding-left: 2rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  padding-right: 0.65rem;

  fill: var(--clr-primary-300);
  color: var(--clr-primary-300);

  z-index: 2;

  transition: opacity var(--tr-speed-300) var(--tr-func-400),
    visibility var(--tr-speed-300) var(--tr-func-400);
}
